:root {
  --primary-color: #6d6afe;
  --red-color: #ff5b56;
  --black-color: #111322;
  --white-color: #ffffff;
  --grey-light-color: #f5f5f5;
  --gray100-color: #373740;
  --gray60-color: #9fa6b2;
  --gray20-color: #ccd5e3;
  --gray10-color: #e7effb;
  --bg-color: #f0f6ff;
  --gra-purpleblue-to-skyblue: linear-gradient(
    91deg,
    #6d6afe 0.12%,
    #6ae3fe 101.84%
  );
}
